<strong>Olá, {{ student_name }}!</strong>
<p>Seu pedido de auxílio acabou de ser respondido! Confira os detalhes abaixo:</p>
<p>
  <strong>Pergunta: </strong> {{ question }} <br />
  <strong>Resposta: </strong> {{ answer }} <br />
  <br />
  <br />
  <small>
    Qualquer dúvida, estamos à disposição!
  </small>
  <br />
  <small>
     E booora malhar! :)
  </small>
</p>
